.blog-post {
  font-style: italic;
  text-indent: 11px;
}

.about-me {
  font-family: 'Times New Roman';
  background-color: #815B5B;
}

body {
  background-color: #9E7676;
}

.box {
  /* border: solid black; */
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}